ion-slide > img {
    max-height: 50%;
    max-width: 60%;
    margin: 36px 0;
}

.swiper-slide {
    display: block;
}

.boder-top {
    border-top: solid black;
}

.center {
    justify-content: center;
}

